.block-container{
    background-color: black;
    width:50%;
    height:50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.block-item{
    display:block;
    color:#fff;
    width:20%;
    
}
.radio-btn{
    appearance:none;
    width:0;
    height:0;
}
.title{
    display: block;
}
.meme-img{
    display:none;
}
.radio-btn:checked+.meme-img{
    display:block;
}
.img-1{
    background: no-repeat url(./assets/why.gif) contain;
    object-fit: cover;
}
.img-2{
    background: no-repeat url(./assets/false.gif);
}
.img-3{
    background:  no-repeat url(./assets/numone.gif);
}
.img-4{
    background:no-repeat url(./assets/twss.gif)
}