.container {
  background: #fed290;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-container {
  background: #f9804b;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #e47209 solid;
}
.bayan-title{
    color:#fff;
}
.block-item {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.title {
  display: block;
}
.icon {
  background: url(./assets/icons/down.svg) no-repeat;
  width: 2rem;
  height: 2rem;
}
.radio-btn {
  appearance: none;
  padding:10%;
}
.meme-img {
  display: none;
  width: 22rem;
  height: 15rem;
  background-size:100%;
}
.radio-btn:checked ~ .meme-img {
  display: flex;

}
.radio-btn:checked + .icon {
  background: url(./assets/icons/up.svg) no-repeat;
}

.img-1 {
  background: url("./assets/why.gif") no-repeat;
}
.img-2 {
  background: url("./assets/false.gif") no-repeat;
}
.img-3 {
  background: no-repeat url("./assets/numone.gif");
  height:19rem;
}
.img-4 {
  background: no-repeat url("./assets/twss.gif");
}
